header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background: $white;
}

h1 {
	color: $accent;
	text-shadow: 2px 2px 1px $accentShadow;
	line-height: 46px;
}